[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
requests = "*"
pwinput = "*"
smbus2 = "*"
pyserial = "*"
sseclient = "*"
oauth2client = "*"
gcloud = "*"
python-jwt = "*"
requests-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.9"
