[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
pyrebase = "*"
requests = "*"
pwinput = "*"
smbus2 = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.9"
